.details {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  background: rgba(79, 111, 119, 0.513);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 20px;
  height: 550px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.city_name {
  float: left;
  margin-top: 35px;
  margin-left: 0px;
  font-weight: bold;
  font-size: larger;
}

.city_temp {
  float: left;
  margin-left: 0px;
  font-weight: bold;
  font-size: 30px;
}

.weather_text {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}

.city_tempa {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.toggle_btn {
  width: 50px;
  border: none;
  border-radius: 10px;
  background: rgb(69, 69, 175);
  color: white;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

.fav_btn {
  border: none;
  border-radius: 10px;
  margin-top: 80px;
  margin-right: 0px;
  padding: 5px;
  height: 30px;
  width: 100px;
  background: rgb(187, 101, 101);
  color: white;
}

.weather_icon {
  /* border: 1px solid black; */
  margin-right: 60px;
}

.city_icon {
  height: 130px;
  width: 130px;
}

.city_text {
  font-weight: bold;
  font-size: 25px;
}

.weather_forecast {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 20px;
}

.weather_forecast div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  width: 25%;
  border-left: 0.5px solid rgb(255, 255, 255);
}

.weather_forecast div .city_iconC {
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.weather_forecast div .city_tempC {
  font-size: 25px;
}

.card_1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card_6 {
  border-right: 0.5px solid rgb(255, 255, 255);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search_field {
  width: 40%;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 15px;
  margin-top: 30px;
}

.search_btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  color: white;
  background: rgb(39, 116, 160);
  text-align: center;
}
