.nav_container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: white;
}

.nav_container h1 {
  margin-left: 20px;
}

.nav_container .links {
  display: flex;
  margin-right: 50px;
  margin-top: 15px;
}

.nav_container .links button {
  cursor: pointer;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  width: 100px;
  height: 50px;
  background: rgba(37, 138, 197, 0.384);
  color: white;
}

.dark-mode {
  .nav_container .links button {
    background: rgba(51, 51, 51, 0.473);
    transition: background-color 0.2s ease-in;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
  }
}
